.container {
  width: 600px;
  display: flex;
}
.photo {
  width: 200px;
}
.photo2 {
  width: 200px;
}
.photo3 {
  width: 200px;
}
.gimchi {
  width: 300px;
  height: 300px;
  border: none;
}
.chungyang {
  width: 300px;
  height: 300px;
  border: none;
}
.chilli {
  width: 300px;
  height: 300px;
  border: none;
}
